/* .sidebar{
    border: 1px solid black;
} */

.sidemenu li{
    padding: 25px 0px;
    background-color: #393e46;
    display: block;
    color: #eeeeee;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidemenu li:hover{
    color: #00adb5;
    cursor: pointer;
}